body {
  background-image: url("src/assets/bg.png");
  background-color: #00000000;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#root {
  max-width: 90vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#P5R-calendar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#calendar-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  transform: rotate(-10deg);
  transform-origin: center;
  border: 8px solid #000;
  padding: 25px;
  background-image: url("src/assets/calendar-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.activities-container {
  position: relative;
  height: 550px;
  transform: rotate(-5deg);
  transform-origin: center;
  background-image: url("src/assets/calendar-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  border: 8px solid #000000;
}

.activities-display {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 330px;
  padding: 5px;
  overflow-y: auto;
  box-sizing: border-box;
  color: #ffffff;
  text-shadow: 
    2px 2px 0px #000,
    -2px 2px 0px #000,
    2px -2px 0px #000,
    -2px -2px 0px #000,
    0px 2px 0px #000,
    -2px 0px 0px #000,
    2px 0px 0px #000,
    0px -2px 0px #000,
    2px 2px 5px rgba(0, 0, 0, 0.5);
}

.info-container {
  position: relative;
  height: 550px;
  width: 300px;
  transform: rotate(5deg);
  transform-origin: center;
  background-image: url("src/assets/calendar-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  border: 8px solid #000000;
}

.info-display {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 35px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  color: #ffffff;
  text-shadow: 
    2px 2px 0px #000,
    -2px 2px 0px #000,
    2px -2px 0px #000,
    -2px -2px 0px #000,
    0px 2px 0px #000,
    -2px 0px 0px #000,
    2px 0px 0px #000,
    0px -2px 0px #000,
    2px 2px 5px rgba(0, 0, 0, 0.5);
}

.info-header-container {
  position: relative;
  min-height: 100px;
  min-width: 150px;
  max-height: 100px;
  max-width: 150px;
  margin: 0;
  left: -10px;
  top: 10px;
  text-shadow: 
    3px 3px 0px #000,
    -3px 3px 0px #000,
    3px -3px 0px #000,
    -3px -3px 0px #000,
    0px 3px 0px #000,
    -3px 0px 0px #000,
    3px 0px 0px #000,
    0px -3px 0px #000,
    3px 3px 5px rgba(0, 0, 0, 0.5);
}

.info-name {
  position: relative;
}

#date-display {
  position: absolute;
  font-size: 3em;
  width: 100%;
  height: 70%;
  margin: 0;
  transform: skew(15deg, -15deg);
}

#weekday-display {
  position: absolute;
  font-size: x-large;
  width: 100%;
  height: 100%;
  margin: 0;
  left: 60px;
  top: 40px;
  transform: skew(30deg, -30deg);
}

.info-header {
  margin: 5px;
  font-size: 2em;
  white-space: pre-line;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  width: auto;
  height: auto;
  margin: 0;
  box-sizing: border-box;
}

.month-name {
  width: 450px;
  height: auto;
  user-select: none; 
}

.grid-item {
  position: relative;
  transform: skew(15deg, -15deg);
  width: 45px;
  height: 45px;
  z-index: 1;
}

.grid-tile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  cursor: pointer;
}

.free-tile {
  background-color: rgb(255, 255, 255);
}

.none-tile {
  background-color: rgba(16, 16, 16, 0.103);
  cursor: context-menu;
}

.skip-tile {
  background-color: rgb(87, 87, 87);
}

.storyAll-tile {
  background-color: rgb(87, 0, 0);
}

.eveningOnly-tile {
  background-color: rgb(255, 145, 0);
}

.afterSchoolOnly-tile {
  background-color: rgb(25, 0, 255);
}

.deadline-tile {
  background-color: rgb(255, 0, 0);
}

.finale-tile {
  background-color: rgb(255, 255, 0);
}

.grid-shadow {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 105%;
  height: 105%;
  background-color: rgb(76, 76, 76);
  transform: translate(8px, 8px) skew(10deg);
  z-index: -2;
  cursor: pointer;
}

.free-shadow {
  background-color: rgb(76, 76, 76);
}

.none-shadow {
  background-color: rgba(0, 0, 0, 0.156);
  cursor: context-menu;
}

.skip-shadow {
  background-color: rgb(0, 0, 0);
}

.storyAll-shadow {
  background-color: rgb(61, 0, 0);
}

.eveningOnly-shadow {
  background-color: rgb(120, 78, 0);
}

.afterSchoolOnly-shadow {
  background-color: rgb(0, 4, 121);
}

.deadline-shadow {
  background-color: rgb(76, 0, 0);
}

.finale-shadow {
  background-color: rgb(148, 148, 35);
}

.date-number {
  position: absolute;
  margin: 0;
  z-index: 3;
  left: 3px;
  font-size: 2em;
  color: #000000;
  cursor: pointer;
  user-select: none; 
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}

.icon-prev,
.icon-next {
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  user-select: none; 
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.dagger {
  position: absolute;
  top: -90px;
  left: 59%;
  transform: translateX(-50%);
  z-index: 4;
  width: 150px;
  height: auto;
  pointer-events: none;
}

.confidant-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: skew(5deg, -5deg);
  height: 150px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.confidant-name {
  font-size: 1.5em;
  margin: auto;
}

.tarot {
  height: 100%;
  width: auto;
  cursor: pointer;
}

.book-dvd-game-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: skew(5deg, -5deg);
  height: 100px;
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
  cursor: pointer;
}

.book-dvd-game-name {
  position: relative;
  font-size: 1.5em;
  margin: auto;
  width: 60%;
}

.book-dvd-game-icon {
  position: absolute;
  height: auto;
  width: 100%;
}

.checkbox-container {
  position: absolute;
  top: 0px;
  right: -10px;
  width: 70px;
  height: auto;
  display: inline-block;
  cursor: pointer;
}

.jobs-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: skew(5deg, -5deg);
  height: 100px;
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
  cursor: pointer;
}

.jobs-name {
  position: relative;
  font-size: 2em;
  margin: auto;
}

.legend-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.legend-text {
  font-size: 1.5em;
  margin-left: 40px;
  width: 350px;
}

.stats-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  height: 75px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.stats-text {
  font-size: 1.7em;
  margin-left: 40px;
  color: #ffffff;
}

.reset-button {
  position: relative;
  width: 100px;
  height: 45px;
  z-index: 1;
  cursor: pointer;
  background-color: #bf0000;
  border: 6px solid #000;
}

.reset-text {
  position: absolute;
  margin: 0;
  z-index: 3;
  font-size: 2em;
  transform: translateX(10%);
  color: #000000;
  user-select: none; 
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}

@media (max-width: 1350px) {
  #P5R-calendar {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    justify-items: center;
  }

  #P5R-calendar > div:nth-child(2) {
    grid-column: 1 / 3;
    width: 50vw;
    height: auto;
    z-index: 1;
  }

  #P5R-calendar > div:nth-child(1) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    z-index: 3;
    width: 40vw;
  }

  #P5R-calendar > div:nth-child(3) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    z-index: 2;
    width: 40vw;
  }

  #P5R-calendar > div {
    align-self: center;
  }

  .month-name {
    width: 90%;
  }

  .grid-container {
    gap: 5%;
    row-gap: 10px;
  }

  .grid-item {
    width: auto;
    height: auto;
    aspect-ratio: 1;
  }

  .date-number {
    font-size: 3.5vw;
  }

  .activities-display {
    width: auto;
  }

  .book-dvd-game-container {
    height: auto;
    width: 100%;
    aspect-ratio: 2 / 1;
  }

  .book-dvd-game-name {
    font-size: 4vw;
  }

  @media (max-width: 750px) {
    #P5R-calendar {
      display: grid;
      grid-template-rows: auto auto auto;
      grid-template-columns: 1fr;
      gap: 20px;
      width: 100%;
      justify-items: center;
    }
  
    #P5R-calendar > div:nth-child(2) {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      width: 50vw;
      z-index: 1;
    }
  
    #P5R-calendar > div:nth-child(1) {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      width: 50vw;
      z-index: 3;
    }
  
    #P5R-calendar > div:nth-child(3) {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
      width: 50vw;
      z-index: 2;
    }

    .checkbox-container {
      width: 20%;
    }
  }
}