body {
  background-image: url("src/assets/bg.png");
  background-color: #00000000;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#root {
  max-width: 90vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#P5R-calendar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#calendar-header{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  transform: rotate(-10deg);
  transform-origin: center;
  border: 8px solid #000;
  padding: 25px;
  background-image: url("src/assets/calendar-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.activities-container {
  position: relative;
  height: 550px;
  transform: rotate(-5deg);
  transform-origin: center;
  background-image: url("src/assets/calendar-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  border: 8px solid #000000;
}

.activities-display {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 300px;
  padding: 5px;
  overflow-y: auto;
  box-sizing: border-box;
  color: #ffffff;
  text-shadow: 
    2px 2px 0px #000,
    -2px 2px 0px #000,
    2px -2px 0px #000,
    -2px -2px 0px #000,
    0px 2px 0px #000,
    -2px 0px 0px #000,
    2px 0px 0px #000,
    0px -2px 0px #000,
    2px 2px 5px rgba(0, 0, 0, 0.5);
}

.info-display {
  display: flex;
  flex-direction: column;
  height: 550px;
  min-width: 350px;
  transform: rotate(5deg);
  transform-origin: center;
  background-image: url("src/assets/calendar-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  border: 8px solid #000000;
  padding: 25px;
  color: #ffffff;
  text-shadow: 
    2px 2px 0px #000,
    -2px 2px 0px #000,
    2px -2px 0px #000,
    -2px -2px 0px #000,
    0px 2px 0px #000,
    -2px 0px 0px #000,
    2px 0px 0px #000,
    0px -2px 0px #000,
    2px 2px 5px rgba(0, 0, 0, 0.5);
}

.info-date {
  position: relative;
  min-height: 100px;
  min-width: 150px;
  max-height: 100px;
  max-width: 150px;
  margin: 0;
  left: 0px;
  top: 10px;
  text-shadow: 
    3px 3px 0px #000,
    -3px 3px 0px #000,
    3px -3px 0px #000,
    -3px -3px 0px #000,
    0px 3px 0px #000,
    -3px 0px 0px #000,
    3px 0px 0px #000,
    0px -3px 0px #000,
    3px 3px 5px rgba(0, 0, 0, 0.5);
}

#date-display {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  transform: skew(15deg, -15deg);
}

#weekday-display {
  position: absolute;
  font-size: x-large;
  width: 100%;
  height: 100%;
  margin: 0;
  left: 60px;
  top: 40px;
  transform: skew(30deg, -30deg);
}

#start-header {
  margin: 0;
  font-size: 2em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  width: auto;
  height: auto;
  margin: 0;
  box-sizing: border-box;
}

.month-name {
  width: 450px;
  height: auto;
}

.grid-item {
  position: relative;
  transform: skew(15deg, -15deg);
  width: 45px;
  height: 45px;
  z-index: 1;
}

.grid-tile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  cursor: pointer;
}

.free-tile {
  background-color: rgb(255, 255, 255);
}

.none-tile {
  background-color: rgba(16, 16, 16, 0.103);
  cursor: context-menu;
}

.skip-tile {
  background-color: rgb(87, 87, 87);
}

.storyAll-tile {
  background-color: rgb(87, 0, 0);
}

.eveningOnly-tile {
  background-color: rgb(255, 145, 0);
}

.afterSchoolOnly-tile {
  background-color: rgb(25, 0, 255);
}

.deadline-tile {
  background-color: rgb(255, 0, 0);
}

.finale-tile {
  background-color: rgb(255, 255, 0);
}

.grid-shadow {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 105%;
  height: 105%;
  background-color: rgb(76, 76, 76);
  transform: translate(8px, 8px) skew(10deg);
  z-index: -2;
  cursor: pointer;
}

.free-shadow {
  background-color: rgb(76, 76, 76);
}

.none-shadow {
  background-color: rgba(0, 0, 0, 0.156);
  cursor: context-menu;
}

.skip-shadow {
  background-color: rgb(0, 0, 0);
}

.storyAll-shadow {
  background-color: rgb(61, 0, 0);
}

.eveningOnly-shadow {
  background-color: rgb(120, 78, 0);
}

.afterSchoolOnly-shadow {
  background-color: rgb(0, 4, 121);
}

.deadline-shadow {
  background-color: rgb(76, 0, 0);
}

.finale-shadow {
  background-color: rgb(148, 148, 35);
}

.date-number {
  position: absolute;
  margin: 0;
  z-index: 3;
  left: 3px;
  font-size: 2em;
  color: #000000;
  cursor: pointer;
  user-select: none; 
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}

.icon-prev,
.icon-next {
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  user-select: none; 
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.dagger {
  position: absolute;
  top: -90px;
  left: 59%;
  transform: translateX(-50%);
  z-index: 4;
  width: 150px;
  height: auto;
  pointer-events: none;
}

.confidant-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: skew(5deg, -5deg);
  height: 150px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.confidant-name {
  font-size: 1.5em;
  margin: auto;
}

.tarot {
  height: 100%;
  width: auto;
}